@media only screen and (max-width:1200px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    .header-nav .nav-ul .nav-li {
        display: none;
    }

    .container .fa-bars {
        display: block;
    }

    .header-nav {
        border-top: 2px solid white;
    }

    .logo {
        margin: 0 auto;
    }

    .btn {
        display: none;
    }

    .header-row {
        flex-direction: column;
        width: 100%;
    }

    .header-col1 {
        margin: 0 auto;
    }

    .header-p,
    .header3,
    .header4 {
        text-align: center;
    }

    .header-p {
        text-align: left;
    }

    /* sec1 */
    .sec1-logo img {
        height: 50%;
        width: 50%;
    }

    .sec1-text .sec1-h4 {
        font-size: 20px;
        font-style: normal;
        width: 90%;
    }

    .sec1-text .sec1-h1 {
        font-size: 15px;
    }

    /* sec2 */
    .row2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .col2 {
        width: 100%;
    }

    .textcol2 {
        text-align: center;
        margin: 0;
    }

    .col2-h2,
    .col2-p {
        text-align: center;
    }

    /* sec3 */
    .sec3-text {
        position: absolute;
        top: 10%;
        right: 10%;
    }



    /* sec4 */
    .sec4-row {
        display: block;
    }

    .sec4-text {
        padding: 0;
    }

    .sec4-h1 {
        width: 100%;
    }

    .p-div {
        margin: 0px;
    }

    .sec4-p {
        width: 100%;
    }

    .wrap {
        display: block;
    }

    .internal-col {
        width: 100%;
    }

    .sec4-text {
        padding: 0;
    }

    table {
        margin: 0;
    }

    .sec4-col-h1 {
        padding: 0;
    }

    /* sec5 */
    .sec5 {
        height: 300px;
    }

    /* sec6 */

    .BTN6 {
        font-size: 10px;
        margin: 0px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
        background: white;
    }


    .sec6-ul .sec6-li {
        padding: 10px;
        font-size: 12px;
    }
}

@media only screen and (max-width:567px) {}