*{
    margin: 0;
    padding: 0;
}







h4{
    text-align: center;
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}
#x{
    background-color: rgba(224, 211, 192, 0.434);
}
form{
    padding-left: 30px;
   padding-top: 15px;
}
div{
    margin-top: 20px;
}

label {
    display: inline-block;
    width: 120px;
}
ul{
    display: inline-block;
    list-style: none;
    padding: 0;
}
.y{
    vertical-align: top;
}
#n{
    background-color: green;
    color: white;
    border: none;
}
/* #m{
    margin: 0 !important;
} */

