* {
    text-transform: capitalize;
    /* font-weight: bolder; */
    font-size: large;
}

body {
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    background-image: url(https://images.pexels.com/photos/287229/pexels-photo-287229.jpeg?_gl=1*fwk4a7*_ga*MTY1MTc3Mjk5OS4xNzUwMDU5NzEz*_ga_8JE65Q40S6*czE3NTEyNzMyNDAkbzUkZzEkdDE3NTEyNzMzMjYkajUyJGwwJGgw);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

form {
    /* border: 5px solid grey; */
    padding: 5px 40px;
    /* box-shadow: 0px 0px 5px 10px rgba(255, 44, 44, 0.3) inset; */
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 0;
}

.icon {
    /* font-size: 10px; */
    display: flex;
    justify-content: center;
    color: #4286f4;
}

div {
    padding: 5px;
}

.x {
    text-align: center;

}

#n {
    padding: 10px;
    background-color: rgba(178, 175, 175, 0.3);
    word-spacing: 60px;
    margin-bottom: 15px;
}

#k {
    background-color: #4286f4;
    border: none;
    padding: 10px 30px;
    color: white;
}