*{
    margin: 0;
    padding: 0;
}



@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');
h3{
    color: blue;
    text-decoration: underline;
    text-align: center;
}
form{
    background: linear-gradient(rgb(28, 51, 167),rgb(175, 32, 168));
    border: 10px;
    border-style: dashed;
    border-color: blue;
    color: white;
    
}
div{
    margin-top: 40px;
    margin-inline-start: 40px;
}
label{
    display: inline-block;
    width: 400px;
}
*{
    font-size: medium;
    text-transform: capitalize;
    font-family: "Libertinus Math", system-ui;
  font-weight: 600;
  font-style: normal;
}
.a,.s{
    vertical-align: top;
}
ul{
    display: inline-block;
    list-style: none;
    padding: 0;
}


